a( href=`/select-fav/${_car.id}?sort=${sortBy}` )
    img(src="https://tinyurl.com/y3j7xy34", alt="Favorite" title="Add to Favorites")
<br>
<br>
a( href=`/admin/edit/${_car.id}?sort=${sortBy}` )
    img(src="https://tinyurl.com/yxgvxcoz", alt="Edit" title="Edit")
<br>
<br>
a( href=`/admin/delete/${_car.id}?sort=${sortBy}` )
    img(src="https://tinyurl.com/y4hg2qlf", alt="Edit" title="Edit")